* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #a51919;
  color: #5f1515;
}

.main-header {
  background-color: #6e0c0c;
  color: rgb(211, 54, 54);
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.college-logo {
  height: 50px;
  margin-right: 15px;
}
.college-name {
  display: inline-block;
  font-size: 20px;
}

.navbar {
  display: inline-block;
  float: right;
}

.nav-menu {
  list-style: none;
}

.nav-menu li {
  display: inline-block;
  margin-left: 20px;
}

.nav-menu li a {
  color: rgb(223, 57, 57);
  text-decoration: none;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.welcome-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #e89c9c;
}

.welcome-section h2 {
  margin-bottom: 15px;
}

.welcome-section p {
  max-width: 600px;
  margin: 0 auto 20px auto;
}

.apply-btn {
  padding: 10px 25px;
  border: none;
  background-color: #751111;
  color: rgb(222, 142, 142);
  border-radius: 5px;
  cursor: pointer;
}

.courses-section {
  padding: 40px 20px;
  text-align: center;
}

.course-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.course-card {
  position: relative;
  border: 1px solid #e78989;
  padding: 20px;
  width: 250px;
  background-color: rgb(233, 174, 174);
  border-radius: 5px;
}

.notice-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #c42020;
}

.notice-box {
  max-width: 500px;
  height: 150px;
  overflow-y: scroll;
  margin: 20px auto 0 auto;
  background-color: rgb(219, 126, 116);
  border: 1px solid #b59393;
  padding: 15px;
  text-align: left;
}

.campus-section {
  position: relative;
  padding: 60px 20px;
  text-align: center;
}

.image-placeholder {
  max-width: 450px;
  height: 300px;
  background-color: #912f2f;
  color: rgb(212, 140, 140);
  margin: 0 auto;
  display: flex;
  
}

.info-box {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(249, 165, 165);
  border: 1px solid #ccc;
  padding: 15px 20px;
  max-width: 300px;
  z-index: 5;
}

.contact-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: #480b05;
  color: rgb(217, 138, 138);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 20;
}

#main-footer {
  background-color: #d79895;
  color: rgb(43, 27, 27);
  text-align: center;
  padding: 20px;
}